.my-style-1 {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-border-insets: 10;
    -fx-border-style: solid line-join bevel line-cap square;
}

.my-style-2 {
    -fx-border-color: red, blue;
    -fx-border-width: 5, 5;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 10, 20;
    -fx-border-style: solid inside, dotted outside;
}

.my-style-3 {
    -fx-border-color: rgb(255, 255, 0, 1.0), green, mediumVioletRed;
    -fx-border-width: 10, 10, 10;
    -fx-border-radius: 50%, 50%, 50%;
    -fx-border-insets: 10, 5, 15;
    -fx-border-style: solid centered, dotted centered, dotted centered;
}

.my-style-4 {
    -fx-border-color: red black red black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 10;
    -fx-border-style: solid line-join bevel line-cap round;
}

